:root {/* color scheme & font size variables */
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-primary-800: hsla(20, 100%, 11%, 1);
    --clr-primary-700: hsla(20, 100%, 38%, 1);
    --clr-primary-400: hsla(0, 86%, 16%, 0.3);
    --clr-primary-300: 	hsla(20, 100%, 84%, 1);
    --clr-primary-200: hsla(20, 21%, 53%, 1);
    --clr-accent-400: 	hsla(140, 100%, 38%, 1);
    --clr-secondary-400: hsla(200, 100%, 38%, 1);

  
    --ff-base: "Outfit", sans-serif;
  
    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700;
  
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-700: clamp(2rem, 10vw - 0.5rem, 3.25rem);
  }
/* Resetting styles */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img {
    display: block;
  }
  
  html {
    color-scheme: dark;
  }
  
  body {
    margin: 0;
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-100);
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.5;
  }
  
  /* For accessibility content */
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  /* The main container */
  .main-grid {
    --_aside-width: clamp(7.5rem, 20vw, 15rem);
    --_main-width: 1fr;
    --_gap-size: 5vw;
  
    display: grid;
    grid-template-columns: var(--_aside-width) var(--_main-width);
    gap: var(--_gap-size);
    grid-auto-flow: dense;
    align-items: start;
    min-height: 100vh;
    min-height: 100dvh;
    
  }
  
  main {
    padding-block: 2rem;
    grid-column: 2;
    width: calc(100vw - var(--_gap-size) - var(--_aside-width));

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  3em 15em 18em;
    grid-gap: 1em;
    align-items: start;

    min-height: 100vh;
    min-height: 100dvh;
  }
   picture {
    display: grid;
    align-items: end;
    overflow: hidden;
    position: relative;
    width: 19.995em;
    height: 16em;
   }

   picture > img {
    display: inline-block;
    height: -webkit-fill-available;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
   }

  aside {
    grid-column: 1;
    align-self: stretch;
    display: flex;
    justify-content: end;
  }
  
  .eyebrow {
    color: var(--clr-secondary-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    align-self: end;
  }
  
  .page-title {
    font-size: var(--fs-700);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
  }
  
  .intro {
    font-size: var(--fs-500);
    max-width: 45ch;
  }
  
  .experience {
    grid-column: 1/ span 2;

    display: grid;
    justify-content: start;
    gap: 1rem;
    grid-auto-flow: column;
    overflow-x: auto;
    position: relative;
    padding-block: 2rem;
    scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
  }
  
  /* Styling the scrollbar */
  .experience::-webkit-scrollbar {
    height: 0.75rem;
  }
  .experience::-webkit-scrollbar-track {
    background-color: var(--clr-primary-800);
    border-radius: 100vw;
  }
  .experience::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent-400);
    border-radius: 100vw;
  }
  
  .experience::after {
    content: "";
    width: 50px;
    background: transparent;
  }
  
  /* card styling */
  .card {
    width: 28.5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background: var(--clr-primary-800);
  }
  
  .card, picture * {
    margin: 0;
  }
  
  .card:first-child::before {
    content: "Current";
    position: absolute;
    color: var(--clr-accent-400);
    top: 0rem;
    left: 0;
  }
  
  .year {
    color: var(--clr-accent-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    letter-spacing: 0.2em;
  }
  
  .card-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
  }
  
  .company {
    color: var(--clr-primary-200);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
  }


  /* Icon stylings */
  .icon-list {
    height: 100%;
    border-left: 1px solid var(--clr-primary-300);
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    align-content: center;
    gap: 3rem;
  }
  
  .icon-list > li {
    position: relative;
    padding-left: 2rem;
  }
  
  .icon-list > li::after {
    --_size: 0.5rem;
  
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: var(--_size);
    transform: translateX(-50%);
    aspect-ratio: 1;
    outline: 0.5rem solid var(--clr-primary-400);
    border-radius: 50%;
    background: var(--clr-neutral-100);
  }

figure {
  margin: 0;
  display: grid;
}

footer {
    margin: 1em;
    min-height: 5em;
}

#phone, #linkedin {
  display: none;
}

@media(max-width:912px) {
  /* .main-grid {
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
  } */

  aside {
    display: none;
    z-index: -1;
  }

  .main-grid {
    grid-template-columns: 1fr;
    }

  main {
    padding-block: 1em;
    width: fit-content;
    grid-template-rows: 2em 3em 12em 10em 19em ;
  }

  picture, .eyebrow, .intro, .page-title {
    grid-column: 1 / span 2;
  }

  picture {
    height: 10em;
    width: auto;
  }

  main > p {
    margin: 0;
    padding-right: 1ch;
  }

  #icons {
    display: none;
  }

   #phone, #linkedin {
    display: inline;
  }

  #linkedin > a {
    text-decoration: none;
    color: var(--clr-secondary-400);
    font-weight: var(--fw-bold);
  }

  #linkedin > a:hover {
    color: var(--clr-accent-400);
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}
